<div class="settings-container">
  <div>
    <!-- Host View -->
    <div class="settings-box">
      <h1>Lobby Settings</h1>
      <p>Configure the game for lobby: <strong>{{ lobbyId }}</strong></p>

      <div class="settings-form">
        <mat-form-field class="form-group">
          <mat-label>Pot</mat-label>
          <input matInput type="number" id="pot" (input)="updateSettings()" [(ngModel)]="pot" [disabled]="!isHost">
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Small Blind</mat-label>
          <input matInput type="number" id="small-blind" (input)="updateSettings()" [(ngModel)]="smallBlind" [disabled]="!isHost">
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Big Blind</mat-label>
          <input matInput type="number" id="big-blind" (input)="updateSettings()" [(ngModel)]="bigBlind" [disabled]="!isHost">
        </mat-form-field>
      </div>

      <div class="player-list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!isHost">
        <h2>Players in Lobby (Drag to Reorder)</h2>
        <ul>
          <li *ngFor="let player of players$ | async" cdkDrag [cdkDragDisabled]="!isHost">
            {{ player.name }}
          </li>
        </ul>
      </div>

      <button class="primary-button start-game-button" (click)="startGame()" [disabled]="!isHost">Start Game</button>
    </div>
  </div>
</div>
